services:
  kong:
    image: "${KONG_TAG:-kong/kong-gateway:latest}"
    container_name: "kong"
    restart: always
    environment:
      KONG_ROLE: "data_plane"
      KONG_DATABASE: "off"
      KONG_VITALS: "off"
      KONG_CLUSTER_MTLS: "pki"
      KONG_CLUSTER_CONTROL_PLANE: "${KONG_CLUSTER_PREFIX}.eu.cp0.konghq.com:443"
      KONG_CLUSTER_SERVER_NAME: "${KONG_CLUSTER_PREFIX}.eu.cp0.konghq.com"
      KONG_CLUSTER_TELEMETRY_ENDPOINT: "${KONG_CLUSTER_PREFIX}.eu.tp0.konghq.com:443"
      KONG_CLUSTER_TELEMETRY_SERVER_NAME: "${KONG_CLUSTER_PREFIX}.eu.tp0.konghq.com"
      KONG_CLUSTER_CERT: "/etc/kong/certs/tls.crt"
      KONG_CLUSTER_CERT_KEY: "/etc/kong/certs/tls.key"
      KONG_LUA_SSL_TRUSTED_CERTIFICATE: "system"
      KONG_KONNECT_MODE: "on"
      KONG_ROUTER_FLAVOR: "expressions"
      KONG_LOG_LEVEL: "debug"
    ports:
      - "8000:8000"
      - "8443:8443"
    volumes:
      - ./certs:/etc/kong/certs:ro
    networks:
      - kong-net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  openldap:
    image: osixia/openldap:latest
    container_name: ldap-server
    ports:
      - "389:389"
      - "636:636"
    environment:
      - LDAP_ORGANISATION=DemoOrg
      - LDAP_DOMAIN=example.com
      - LDAP_ADMIN_PASSWORD=admin
    networks:
      - kong-net

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    ports:
      - "8111:80"
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap
      - PHPLDAPADMIN_HTTPS=false
    depends_on:
      - openldap
    networks:
      - kong-net

volumes:
  cache:
    driver: local

networks:
  kong-net:
    driver: bridge